[submodule "dappsys"]
	path = dappsys
	url = https://github.com/dapphub/dappsys
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs
[submodule "setzer"]
	path = setzer
	url = https://github.com/makerdao/setzer
[submodule "symbex"]
	path = symbex
	url = https://github.com/mbrock/symbex
[submodule "dai-cli"]
	path = dai-cli
	url = https://github.com/makerdao/dai-cli
