[submodule "setzer"]
	path = submodules/setzer
	url = https://github.com/makerdao/setzer
[submodule "dai-cli"]
	path = submodules/dai-cli
	url = https://github.com/makerdao/dai-cli
[submodule "submodules/chief"]
	path = submodules/chief
	url = https://github.com/makerdao/chief
[submodule "submodules/terra"]
	path = submodules/terra
	url = https://github.com/makerdao/terra
