[submodule "setzer"]
	path = submodules/setzer
	url = https://github.com/makerdao/setzer
[submodule "symbex"]
	path = submodules/symbex
	url = https://github.com/mbrock/symbex
[submodule "dai-cli"]
	path = submodules/dai-cli
	url = https://github.com/makerdao/dai-cli
